@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?xx117s');
  src:  url('fonts/icomoon.eot?xx117s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?xx117s') format('truetype'),
    url('fonts/icomoon.woff?xx117s') format('woff'),
    url('fonts/icomoon.svg?xx117s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
  content: "\e902";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-reddit:before {
  content: "\eac6";
}
