footer {
    padding-top: 80px;
    padding-bottom: 40px;
}

footer a, footer a:visited, footer a:active {
    color: #111;
}

footer > div {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 100%;
}

footer .left {
    grid-column: 1;
    grid-row: 1;
}

footer .right {
    grid-column: 3;
    grid-row: 1;
}