@font-face { 
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Thin.ttf');
  font-weight: 100;
}

@font-face { 
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Light.ttf');
  font-weight: 200;
}

@font-face { 
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Regular.ttf');
  font-weight: 300;
}
@font-face { 
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Bold.ttf');
  font-weight: 400;
}


body {
  font-family: 'Rubik', sans-serif;
  background: #FAFAFA;
  color: #333;
}

main {
  min-height: 500px;
}

.wide {
  padding: 70px 0px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}

.wide .container > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wide .container h1 {
  font-size: 32px;
  font-weight: 300;
  color: #fff;
}
.wide .intro {
  color: #FFF;
}
.wide .items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}
.wide .items div {
  padding-left: 5px;
  padding-right: 5px;
  max-width: 300px;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.wide .items div img {
  width: 100%;
  max-width: 150px;
}
.wide .items div h3 {
  margin-bottom: 4px;
}
.wide .items div h4 {
  margin-top: 4px;
  text-align: center;
}

p {
  line-height: 25px;
  font-size: 18px;
}
p20 {
  padding: 20;
}
p10 {
  padding: 10;
}
p5 {
  padding: 5;
}
.pt5{
  padding-top: 5px;
}
.pt10{
  padding-top: 10px;
}
.pt20{
  padding-top: 20px;
}
.pt40{
  padding-top: 40px;
}
.pb5{
  padding-bottom: 5px;
}
.pb10{
  padding-bottom: 10px;
}
.pb20{
  padding-bottom: 20px;
}
.pb40{
  padding-bottom: 40px;
}
.ui.button {
  text-transform: uppercase;
}
.title {
  text-align: center;
  font-weight: 300;
}
.text {
  font-size: 1.3em;
  font-weight: 200;
}
.centered {
  text-align: center;
}

.divided-2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divided-2 > div {
  width: 50%;
}
.divided-2 > div {
  text-align: left;
}
.divided-2 > div h2 {
  font-weight: 300;
}
.divided-2 > div img {
  width: 100%;
  height: auto;
  max-width: 500px;
}
@media screen and (max-width: 768px) {
  .divided-2 {
    flex-direction: column;
  }
  .divided-2.reverse-mobile {
    flex-direction: column-reverse;
  }
  .divided-2 > div {
    width: 100%;
  }
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}
.logo-div img {
  max-width: 150px;
  height: auto;
}